html {background-color white;}
div.header {background-color:#0099ff; border: 1px grey; width:70%; height:10%;}
h1{color: black; text-align: center; font-family:"Arial";}
h2{color: black; font-family:"Arial";}
p{color:black; font-family:"Arial"; text-align:center;
	font-size: 16px
	}
table, td, th { font-family:"Arial";font-size: 14px;
	border:2px solid black;}
	th{background-color:lightgray;
	font-family:"Arial";}
img {border: solid black;}