* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}


/* Header/Blog Title */

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}

.Middlecolumn {
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.tjeneste {
    float: left;
    width: 40%;
    background-color: rgb(65, 43, 18);
    padding: 20px;
    margin: 20px;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.rightcolumn table,
th,
td,
tr {
    border: solid black;
    /* Placeholder styling */
}


/* Fake image */

.fakeimg {
    background-color: grey;
    width: 100%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    line-height: 150%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.footer p {
    font-size: 14px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

form {
    border: 3px solid #f1f1f1;
}

.loginfield {
    float: center;
    width: 60%;
    background-color: #f1f1f1;
    padding: 1px;
    margin: 1px;
    border: 2px;
}

.loginfield h3 {
    text-align: center;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Endrer størrelsen på elementene for skjermer ved maks bredde 300 px */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.presentationblock {
    float: center;
    width: 50%;
    background-color: #adadad;
    padding: 1px;
    margin: 1px;
    border: 2px;
    line-height: 150%;
}

.presentationblock h3 {
    text-align: left;
    text-size-adjust: 18px;
}

.presentationblock.p {
    text-align: left;
    text-size-adjust: 14px;
}

.presentationblock table,
th,
td,
tr {
    border: solid black;
    /* Placeholder styling */
}

.presentationblock img {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
}

.smallPB {
    float: right;
    width: 40%;
    background-color: #adadad;
    padding: 1px;
    margin: 1px;
    border: 2px;
    line-height: 150%;
}

.smallPB h3 {
    text-align: left;
    text-size-adjust: 18px;
}

.smallPB p {
    text-align: left;
    text-size-adjust: 14px;
}

.smallPB table,
th,
td,
tr {
    border: solid black;
    /* Placeholder styling */
}

.smallPB img {
    height: 400px;
    width: 300px;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
}

.center {
    text-align: center;
    width: 100%;
    height: 375px;
}

.box {
    padding: 20px;
}

.left {
    margin: 20px;
    float: left;
    width: 30%;
}

.middle {
    margin: 20px;
    float: left;
    width: 30%;
}

.right {
    margin: 20px;
    float: left;
    width: 30%;
}